@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:ital,wght@0,100;0,300;1,100;1,400&display=swap");

:root {
  --main: #ad0000;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50vw;
  position: absolute;
  top: 5vh;
  z-index: 3;
}

.container p {
  position: absolute;
  top: 47vh;
  font-size: 1.628vw;
  width: 50vw;
  text-align: center;
  color: rgb(2, 2, 2);
  z-index: 3;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.cta {
  width: 28.133vw;
  height: 4.208vw;
  border-radius: 0.977vw;
  font-family: "Merriweather";
  background-color: var(--main);
  font-size: 2.2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 3;
  top: 64vh;
  transition: 0.2s;
}

.cta:hover {
  width: 28.333vw;
  height: 4.402vw;
  transition: 0.2s;
  background-color: #d10303;
}

nav {
  height: 4.51vw;
  background-color: var(--main);
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  top: 80vh;
  transition: 0.3s;
}

nav:hover {
  background-color: #d10303;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-family: "Roboto";
  font-weight: 100;
}

nav a {
  padding: 1.5vw;
  transition: 0.2s;
}

nav a:hover {
  font-weight: 700;
  transition: 0.2s;
}

footer {
  height: 20%;
  background-color: var(--main);
  width: 100%;
  z-index: 3;
  position: absolute;
  bottom: -25vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  color: white;
}

.footer-links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  opacity: 0.7;
  margin-right: 4vw;
}

.footer-links a,
.footer-links span {
  font-family: "Roboto";
  font-weight: 100;
}

.footer-links a:hover {
  font-weight: 300;
}

.social-networks {
  font-size: 2vw;
}

@media only screen and (max-width: 740px) {
  .logo {
    width: 90vw;
    margin-top: 5vh;
  }

  .container p {
    font-size: 3vw;
    width: 90vw;
    top: 40vh;
  }

  .cta {
    width: 50vw;
    height: 10vw;
    font-size: 3vw;
    top: 55vh;
  }

  .cta:hover {
    width: 50vw;
    height: 10vw;
    transition: 0.2s;
    background-color: #d10303;
  }

  nav {
    height: auto;
    margin-top: -10vh;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 3vw;
  }

  .nav-links a {
    padding: 1.3vw 20vw;
    cursor: pointer;
  }

  .social-networks {
    font-size: 4vw;
  }

  .footer-links {
    padding: 1.3vw;
    font-size: 2.5vw;
  }

  .footer-links a {
    margin-top: 1vw;
  }
}
